.loginContainer {
  display: block;
  width: 50%;
  height: 50%;
  background-color: rgba(41, 147, 179);
  border-radius: 20px;
  margin: auto;
}

label {
  color: #ffffff;
}

button {
  width: 150px;
  height: 40px;
}

#showRegisterModalButton {
}

#loginButton {
}

.labelInputPair > input {
  height: 30px;
  border-radius: 20px;
}

.mainContainer {
  width: 100%;
  height: 100%;
}
