html,
body {
  height: 100%;
}

body {
  background-color: rgb(51, 51, 51);
}

#searchContainer {
  padding: 10px;
}

.mainContainer {
  height: 70%;
}

.bottomPane {
  display: flex;
}


table {
  --m: 20px
  border-radius: 5%;
  border-collapse: coll;
  border-spacing: 10px 5px;
  margin: 20px;
  width: calc(100% - 40px);
  overflow: scroll;
}

tr {
  border: 1px solid red;
  background-color: rgb(100, 100, 100);
  border-radius: 10% 10%;
}

tr:hover{
  background-color: rgb(120, 120, 120);
  transition: .5s;
}

td,
th {
  padding: 10px 10px;
  max-height: 20px;
}

div {
  border: 1px solid red;
}

.inputContainer {
  padding: 10px;
  display:block;
}

h1{
  text-align: center;
  color: white;
}

.topBar {
  background-color: rgb(54, 221, 118);
}

.center {
  margin: auto;
  width: 50%;
}

.topBar {
  display: flex;
}

#form{
  list-style: none
}

#addResult{
text-align: center;
}